let mapleader = " "

set scrolloff=8
set incsearch
set ideajoin

xnoremap <leader>p \"_dP
xnoremap <leader>d \"_d
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

nnoremap gp `[v`]

nmap <leader>ff <Action>(GotoFile)
nmap <leader>fg <Action>(FindInPath)
nmap <leader>fa <Action>(GotoAction)

nmap <leader>sv <Action>(SplitVertically)
nmap <leader>sh <Action>(SplitHorizontally)
nmap <leader>sx <Action>(CloseContent)

nmap <leader>ee <Action>(ActivateProjectToolWindow)
nmap <leader>ef <Action>(SelectInProjectView)

nmap <leader>ca <Action>(ShowIntentionActions)

nmap <leader>d <Action>(ShowErrorDescription)
nmap grn <Action>(RenameElement)

nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

nmap <leader>mp <Action>(ReformatCode)
xmap <leader>mp <Action>(ReformatCode)


Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
